<mat-card class="outer-card">
  <mat-card-header>
    <!-- Slot for the handle -->
    <ng-content></ng-content>
    <mat-card-title>
      {{ book.title }}
    </mat-card-title>
    <mat-card-subtitle>
      {{ book.id }}
    </mat-card-subtitle>
  </mat-card-header>

  <div
    class="tasks"
    cdkDropList
    cdkDropListOrientation="vertical"
    (cdkDropListDropped)="taskDrop($event)"
  >
    <div class="inner-card" cdkDrag (click)="openDialog(book.words, book.id)">
      <mat-card [ngClass]="task.label"> {{ task.description }} </mat-card>
    </div>

    <button mat-stroked-button (click)="openDialog()">
      <mat-icon>add</mat-icon>
    </button>

    <app-delete-button (delete)="handleDelete()"></app-delete-button>
  </div>
</mat-card>
`
